<div class="container py-2">
  <div class="row">
    <div class="col-sm-12 col-lg-12 col-xl-12">
      <h5 class="modal-title">Descarga Retenciones Judiciales</h5>
    </div>
  </div>
  <div class="row form-inline py-2">
    <div class="col-sm-12 col-lg-3 col-xl-3">Fecha Inicial:</div>
    <div class="col-sm-12 col-lg-3 col-xl-3">
      <p-calendar [(ngModel)]="ngFechaInicial" [monthNavigator]="true" [yearNavigator]="true" [maxDate]="maxDate"
        [readonlyInput]="false" dateFormat="dd/mm/yy" [yearRange]="yearRange" [locale]="es"
        (onClose)="validarDatosFechaFinal()"></p-calendar>
    </div>
    <div class="col-sm-12 col-lg-3 col-xl-3">Fecha Final:</div>
    <div class="col-sm-12 col-lg-3 col-xl-3">
      <p-calendar [(ngModel)]="ngFechaFinal" [monthNavigator]="true" [yearNavigator]="true" [minDate]="minDate"
        [maxDate]="maxDate" [readonlyInput]="false" dateFormat="dd/mm/yy" [yearRange]="yearRange" [locale]="es">
      </p-calendar>
    </div>
  </div>
  <div class="row form-inline py-3">
    <div class="col">
      <button type="button" class="btn btn-outline-primary" data-dismiss="modal" aria-label="Close"
        style="float: right;" (click)="devolverCampos()">
        Descargar
      </button>
    </div>
  </div>

</div>
<div class="enProceso" *ngIf="imagenCargando">
</div>
