.select-container {
  display: flex;
  flex-direction: column;
}

.select-container > * {
  width: 50%;
}

.input-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.input-full-width {
  width: 100%;
}

.btn-outline-secondary{
  color: #0033A0;
  background-color: #E3E829!important;
  border-color: #e3e829!important;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  height: 70%;
}

.btn-outline-secondary:focus{
  box-shadow: 0 0 0 0.2rem rgba(227, 232, 41) !important;
}

.ordenar {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.contenedor1{
    width: 95%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

.contenedor2{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

