<div class="contenedor1 py-4">
  <div class="row py-2">
    <div class="col-12 col-sm-12 col-lg-2 col-xl-2">
      <label class="ordenar">Tipo de proceso: </label>
    </div>
    <div class="col-12 col-sm-12 col-lg-4 col-xl-4 select-container">
      <mat-select [(ngModel)]="selectedValueTipoProceso" placeholder="------ Seleccione ------"
        style="text-align: center">
        <mat-option *ngFor="let obj of tipoProcesoList" [value]="obj.valor">
          {{obj.descripcion}}
        </mat-option>
      </mat-select>
    </div>
    <div class="col-12 col-sm-12 col-lg-2 col-xl-2">
      <label class="ordenar">Se afecta a: </label>
    </div>
    <div class="col-12 col-sm-12 col-lg-4 col-xl-4 select-container">
      <mat-select [(ngModel)]="selectedValueAfectado" placeholder="------ Seleccione ------" style="text-align: center"
        disabled>
        <mat-option *ngFor="let obj of seAfectaList" [value]="obj.id">
          {{obj.value}}
        </mat-option>
      </mat-select>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-2 col-xl-2 orderName">
      <!--p class="ordenar">DNI: </p-->
      <label class="ordenar">DNI: </label>
    </div>
    <div class=" input-group col-lg-4 col-xl-4">
      <mat-form-field>
        <input maxlength="8" matInput placeholder="Buscar DNI" [(ngModel)]="dniDemandado" disabled>
      </mat-form-field>
      <button class="btn btn-outline-secondary" data-backdrop="static" data-dismiss="modal" data-toggle="modal"
        (click)="buscarPersona()"><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>
    <div class="col-12 col-sm-12 col-lg-2 col-xl-2 invisible">
      <label class="ordenar">Secuencia: </label>
    </div>
    <div class=" input-group col-lg-4 col-xl-4 invisible">
      <mat-form-field class="example-full-width">
        <input matInput value="0" style="text-align: center" disabled>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-2 col-xl-2 orderName">
      <p class="ordenar">CUSPP: </p>
    </div>
    <div class=" input-group col-lg-4 col-xl-4">
      <mat-form-field>
        <input matInput [(ngModel)]="cusppDemandado" disabled>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="enProceso" *ngIf="imagenCargando">
</div>
<app-inicio-buscar-persona (personaSeleccionadaAfiliado)="personaSelecccionadoAfliado($event)"
  (personaSeleccionadaBeneficiario)="personaSelecccionadoBeneficiario($event)"></app-inicio-buscar-persona>
