<div class="contenedor1 bordes-redondos py-2">
  <form [formGroup]="formIndicadoresFormulario">
    <div class="row">

      <div class="col-12 col-sm-12 col-lg-4 col-xl-4 select-container">
        <mat-form-field>
          <mat-select placeholder="Moneda de retención" formControlName="monedaRetencion" style="text-align: center;">
            <mat-option *ngFor="let obj of arrayMonedaRetencion" [value]="obj.valor">
              {{obj.valor}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4 select-container">
        <mat-form-field>
          <mat-select placeholder="Moneda de pago" formControlName="monedaPago" style="text-align: center;">
            <mat-option *ngFor="let obj of arrayMonedaPago" [value]="obj.valor">
              {{obj.valor}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-12 col-sm-12 col-lg-4 col-xl-4 select-container">
        <mat-form-field>
          <mat-select placeholder="Indicador limete a usar(Monto/Fecha)" formControlName="indicadorLimiteMontFech"
            style="text-align: center;">
            <mat-option *ngFor="let obj of arrayMontoFecha" [value]="obj.valor">
              {{obj.descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-12 col-sm-12 col-lg-4 col-xl-4 py-2" *ngIf="retRetJud.indicadorLimUsarMontFch === 'F'">
        <label>Fecha Inicio: </label> &nbsp;
        <p-calendar [monthNavigator]="true" [yearNavigator]="true" [maxDate]="maxDate" [readonlyInput]="false"
          dateFormat="dd/mm/yy" [yearRange]="yearRange" [locale]="es" [showIcon]="true" formControlName="fechaInicio"
          placeholder="Seleccione Fecha Inicio">
        </p-calendar>
      </div>
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4 py-2" *ngIf="retRetJud.indicadorLimUsarMontFch === 'F'">
        <label>Fecha Fin: </label> &nbsp;
        <p-calendar [monthNavigator]="true" [yearNavigator]="true" [maxDate]="maxDate" [readonlyInput]="false"
          dateFormat="dd/mm/yy" [yearRange]="yearRange" [locale]="es" [showIcon]="true" formControlName="fechaFin"
          placeholder="Seleccione Fecha Fin">
        </p-calendar>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4 select-container">
        <mat-form-field>
          <mat-select placeholder="¿Existe tope o limite?" formControlName="existeTopeLimit"
            style="text-align: center;">
            <mat-option *ngFor="let obj of arrayExisteTipLim" [value]="obj.valor">
              {{obj.descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4" *ngIf="retRetJud.exitMontoLimit =='S'">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Monto tope" formControlName="montoTope" pKeyFilter="num">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4 select-container">
        <mat-form-field>
          <mat-select placeholder="¿Monto o porcentaje?" formControlName="topeMontoPorcentaje"
            style="text-align: center;">
            <mat-option *ngFor="let obj of arrayTopePorMontPorc" [value]="obj.valor">
              {{obj.descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4" *ngIf="retRetJud.topeEsMontoPorcen ==='P'">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Porcentaje de descuento" formControlName="porcentajeDescuento"
            pKeyFilter="money">
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4" *ngIf="retRetJud.topeEsMontoPorcen ==='M'">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Monto de descuento" formControlName="montoDescuento" pKeyFilter="money">
        </mat-form-field>
      </div>
    </div>
  </form>

  <form [formGroup]="formIndicadoresFormularioFormaPago">
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4 select-container">
        <mat-form-field>
          <mat-select placeholder="Forma de pago de retención" formControlName="formaPago" style="text-align: center;">
            <mat-option *ngFor="let obj of arrayFormaPago" [value]="obj.valor">
              {{obj.descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4 select-container" *ngIf="agenciasDisable">
        <mat-form-field>
          <mat-select placeholder="Agencia" formControlName="agencia" style="text-align: center;">
            <mat-option *ngFor="let obj of arrayAgencias" [value]="obj.codigoAgencia">
              {{obj.nombreAgencia}} - {{obj.codigoAgencia}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4 select-container" *ngIf="bancosDisable">
        <mat-form-field>
          <mat-select placeholder="Banco" formControlName="banco" style="text-align: center;">
            <mat-option *ngFor="let obj of arrayEntidadFinanciera" [value]="obj.codEntRec">
              {{obj.nombreEntRec}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- Solo para datos de Consignacion Judicial-->
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4" *ngIf="activarConJud">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Banco" value="BANCO SCOTIABANK" disabled>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4" *ngIf="activarConJud">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Agencia" value="AGENCIA PRINCIPAL" disabled>
        </mat-form-field>
      </div>
      <!-- XXXXXXXX -->
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4" *ngIf="numCuentaDeposDesable">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Nro de Cuenta de deposito" formControlName="numCuentaDepos" maxlength="30">
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4" *ngIf="numChequeDesable">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Nro de Cheque" formControlName="numCheque" maxlength="12">
        </mat-form-field>
      </div>
    </div>
  </form>

  <form [formGroup]="formIndicadoresFormularioEncargadoRetencion">
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4 select-container">
        <mat-form-field>
          <mat-select placeholder="Encargado de retención" formControlName="encargadoRetencion"
            style="text-align: center;">
            <mat-option *ngFor="let obj of arrayEncargadoRetencion" [value]="obj.valor">
              {{obj.descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4 select-container" *ngIf="retRetJud.encargadoRetencion === 'CIA'">
        <mat-form-field>
          <mat-select placeholder="Cia de seguros a cargo de retención" formControlName="ciaEncargadoRetencion"
            style="text-align: center;">
            <mat-option *ngFor="let obj of arrayEntidadAseguradora" [value]="obj.codEntiAsegu">
              {{obj.nombEmtiAsegu}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Carta de respuesta enviada al jusgado"
            formControlName="cartaRespuestaEnvJuzgado">
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<br>
<div class="contenedor1">
  <form [formGroup]="formIndicadoresFormularioDatosGeneral">
    <div class="row py-2">
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
        <label>Recepción de Oficio:</label>&nbsp;
        <p-calendar [monthNavigator]="true" [yearNavigator]="true" formControlName="fchRecepcionOficio"
          [maxDate]="maxDate" [readonlyInput]="false" dateFormat="dd/mm/yy" [yearRange]="yearRange" [locale]="es"
          [showIcon]="true">
        </p-calendar>
      </div>
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4 select-container">
        <mat-form-field>
          <mat-select placeholder="¿Se envía consulta a juzgado?" formControlName="seEnvConsultaJuzgado"
            style="text-align: center;">
            <mat-option *ngFor="let obj of arrayEnviarConsultaJuzgado" [value]="obj.valor">
              {{obj.descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Número SAC/Reclamo" formControlName="numSacReclamo">
        </mat-form-field>
      </div>
    </div>
    <div class="row py-2">
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
        <label>Fecha de Oficio:</label>&nbsp;
        <p-calendar [monthNavigator]="true" [yearNavigator]="true" [maxDate]="maxDate" formControlName="fchOficio"
          [readonlyInput]="false" dateFormat="dd/mm/yy" [yearRange]="yearRange" [locale]="es" [showIcon]="true">
        </p-calendar>
      </div>
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4 select-container">
        <mat-form-field>
          <mat-select placeholder="Tipo de proceso" formControlName="indTipoProceso" style="text-align: center;"
            multiple>
            <mat-option *ngFor="let obj of arrayIndicadorTipoProceso" [value]="obj.descripcion">
              {{obj.descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4 select-container">
        <mat-form-field>
          <mat-select placeholder="Tipo de afectación" formControlName="tipoAfectacion" style="text-align: center;">
            <mat-option *ngFor="let obj of arrayTipoAfectacion" [value]="obj.valor">
              {{obj.descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row py-2">
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Nombre del juez" formControlName="nombreJuez" maxlength="50">
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
        <label>Fecha de emisión de carta:</label>&nbsp;
        <p-calendar [monthNavigator]="true" [yearNavigator]="true" [maxDate]="maxDate" formControlName="fchEmisionCarta"
          [readonlyInput]="false" dateFormat="dd/mm/yy" [yearRange]="yearRange" [locale]="es" [showIcon]="true">
        </p-calendar>
      </div>
    </div>
    <div class="row py-2">
      <div class="col-12 col-sm-12 col-lg-8 col-xl-8">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Corte" formControlName="corte" maxlength="50">
        </mat-form-field>
      </div>
    </div>
    <div class="row py-2">
      <div class="col-12 col-sm-12 col-lg-12 col-xl-12">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Observaciones" formControlName="observacion" maxlength="500">
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div class="enProceso" *ngIf="imagenCargando">
</div>
<!-- Mensaje informativo -->
<div class="modal fade" id="indicadoresRetencionModal" tabindex="-1" role="dialog"
  aria-labelledby="indicadoresRetencionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="indicadoresRetencionModalLabel">{{tituloMensaje}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{textoMensaje}}
      </div>
    </div>
  </div>
</div>
