nav-pills .nav-link {
border-radius:0rem;
}
.nav-pills > li {
float: left;
}

.nav-pills > li > a {
position:relative;
background-color:#F7F8F8;
}



.nav-pills > li > a .badge {
margin-left:3px;
color: #eeeeee;
background-color:#428bca;
}

.nav-pills > li:not(:first-child) > a {
padding-left:34px;
}

.nav-fill {
background-color:#e1e3e5;
border-radius:4px;
}

.nav-pills > li:not(:first-child) > a:before {
width: 0px;
height: 0px;
border-top:29px inset transparent;
border-bottom:35px inset transparent;
border-left:20px solid #e1e3e5;
position: absolute;
content:"";
top: 0;
left: 0;
}



.nav-pills > li:not(:last-child) > a {
margin-right:6px;
}

.nav-pills > li:not(:last-child) > a:after {
width: 0px;
height: 0px;
border-top:29px inset transparent;
border-bottom: 35px inset transparent;
border-left: 20px solid #F7F8F8;
position:absolute;
content:"";
top: 0;
right: -20px;
z-index:2;
}

.nav-pills > li:first-child > a {
border-top-left-radius:4px;
border-bottom-left-radius:4px;
}

.nav-pills > li:last-child > a {
border-top-right-radius:4px;
border-bottom-right-radius:4px;
}

.nav-pills > li.done:hover > a, .nav-pills > li:hover > a {
background-color:#F7F8F8;
}

.nav-pills > li.done:hover > a:before, .nav-pills > li:hover >a:before {
border-right-color:#F7F8F8;
}

.nav-pills > li.done:hover > a:after, .nav-pills > li:hover > a:after {
border-left-color:#F7F8F8;
}

.nav-pills > li.done > a {
background-color:#e2e2e2;
}

.nav-pills > li.done > a:before {
border-right-color:#e2e2e2;
}

.nav-pills > li.done > a:after {
border-left-color:#e2e2e2;
}

.nav-pills >li a p.paso {
color: #868e96;
}

.nav-pills >li a p.tipo {
color: #584F4E;
}

.nav-pills > li a.active, .nav-pills > li a.active > p, .nav-pills > a.active > a:focus > p {

color: #ffffff !important;
background-color:#16b2dc !important;
}



.nav-pills > li a.active:after {
border-left-color:#16b2dc !important;
}



.nav-pills > li a.active > a .badge {
color: #16b2dc;
background-color:#ffffff;
}



.nav-pills > li.disabled > a {
color: #777777;
}



.nav-pills > li.disabled > a:hover, .nav-pills > li.disabled > a:focus {
color: #777777;
text-decoration:none;
background-color:#eeeeee;
cursor: default;
}



.nav-pills > li.disabled > a:before {
border-right-color:#eeeeee;
}



.nav-pills > li.disabled > a:after {
border-left-color:#eeeeee;
}



.nav-pills.nav-justified > li {
float: none;
}



.nav-pills.nav-justified > li > a {
padding:10px 15px;
}



@media (max-width:768px) {

  .nav-pills.nav-justified >li > a {
    border-radius:4px;
    margin-right:0;
  }

  .nav-pills.nav-justified >li > a:before,.nav-pills.nav-justified > li >a:after {
  border: none !important;
  }

}

.nav-fill.nav-item {
text-align:start;
}


.btn-primary{
  color: #0033A0;
  background-color: #E3E829!important;
  border-color: #e3e829!important;
}

.btn-primary:focus{
  box-shadow: 0 0 0 0.2rem rgba(227, 232, 41) !important;
}

.btn-secondary{
  background: transparent !important;
  border: none !important;
  color: #0033A0;
}

.btn-secondary:focus{
  box-shadow: 0 0 0 0.2rem rgb(239, 240, 243) !important;
}
