<div class="container-fluid py-4">
  <!--style="pointer-events: none !important"-->
  <ul class="nav nav-pills nav-fill" id="myTab" role="tablist" style="pointer-events: none !important">
    <li class="nav-item" *ngFor="let paso of pasos">
      <a class="nav-link" [ngClass]="{'active': id_actual == paso.id}" data-toggle="tab" role="tab"
        [attr.aria-expanded]="paso.open">
        <p class="mb-0 paso"> {{paso.label}}</p>
        <p class="mb-0 tipo"> {{paso.descripcion}}</p>
      </a>
    </li>
  </ul>
</div>
<app-inicio-nueva-retencion *ngIf="id_actual == 1" [retigistroRetencionJudicial]="retigistroRetencionJudicial"
  (retornarRetJudNuevReten)="obtenerRetJudi($event)">
</app-inicio-nueva-retencion>
<app-datos-demandado *ngIf="id_actual == 2" [retencionDemandado]="retigistroRetencionJudicial"
  (retornarRetJudDatosDemandado)="obtenerRetJudi($event)">
</app-datos-demandado>
<app-datos-demandante *ngIf="id_actual == 3" [retigistroDemandante]="retigistroRetencionJudicial"
  (retornarRetJudDatosDemanante)="obtenerRetJudi($event)">
</app-datos-demandante>
<app-indicadores-retencion *ngIf="id_actual == 4" [retigistroIndicadores]="retigistroRetencionJudicial"
  (retornarRetJudDatosIndicadores)="obtenerRetJudi($event)">
</app-indicadores-retencion>
<div class="container-fluid py-2">
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-6 col-xl-6" *ngIf="id_actual == 1">
      <button class="btn btn-secondary" (click)="cancelar()" type="submit">Cancelar</button>
    </div>
    <div class="col-12 col-sm-12 col-lg-6 col-xl-6" *ngIf="id_actual > 1">
      <button class="btn btn-secondary" (click)="id_actual = id_actual - 1" type="submit">Atrás</button>
    </div>
    <div class="col-12 col-sm-12 col-lg-6 col-xl-6" *ngIf="id_actual < 4">
      <button class="btn btn-primary" type="submit" style="float: right" (click)="siguiente(1)">Continuar</button>
    </div>
    <div class="col-12 col-sm-12 col-lg-6 col-xl-6" *ngIf="id_actual == 4">
      <button class="btn btn-primary" type="submit" style="float: right" (click)="validarDatos()">Guardar</button>
    </div>
  </div>
</div>

<!-- Modal Confirmacion NuevaRetencion-->
<div class="modal fade" id="confirmacionNuevaRetencionModal" tabindex="-1" role="dialog"
  aria-labelledby="confirmacionNuevaRetencionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmacionNuevaRetencionModalLabel">Confirmación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Esta seguro de generar la retención?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="generarRetencion()">Guardar
          Cambios</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Proceso Completado con Existo NuevaRetencion-->
<div class="modal fade" id="validacionconfirmacionNuevaRetencionModal" tabindex="-1" role="dialog"
  aria-labelledby="validacionconfirmacionNuevaRetencionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="validacionconfirmacionNuevaRetencionModalLabel">Confirmación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{mensajeConfirmacion}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="regresarPaginaInicio()">Salir</button>
      </div>
    </div>
  </div>
</div>

<div class="enProceso" *ngIf="imagenCargando">
</div>
<app-mensaje-informativo [mensajeError]="mensajeError" [mensajeInformativo]="mensajeInformativo">
</app-mensaje-informativo>
