<form [formGroup]="formDejarSinEfecto">
  <div class="row py-3">
    <div class="col-sm-12 col-md-4 col-xl-4">
      <mat-form-field class="ancho-full-width">
        <input type="text" maxlength="50" matInput placeholder="Numero de Oficio" formControlName="numOficio"
          style="text-align: center;">
      </mat-form-field>
    </div>
    <div class="col-sm-12 col-md-4 col-xl-4">
      <mat-form-field class="ancho-full-width">
        <input type="text" maxlength="20" matInput placeholder="Numero de expediente" formControlName="numExpediente"
          style="text-align: center;">
      </mat-form-field>
    </div>
    <div class="col-sm-12 col-md-4 col-xl-4">
      <mat-form-field class="ancho-full-width">
        <input type="text" maxlength="30" pKeyFilter="alphanum" matInput placeholder="Numero de SAC"
          formControlName="numSac" style="text-align: center;">
      </mat-form-field>
    </div>
  </div>
  <div class="row py-3">
    <div class="col-sm-12 col-md-8 col-xl-8 ">
      <mat-form-field class="ancho-full-width">
        <input type="text" maxlength="80" matInput placeholder="Nombre de juzgado" formControlName="nombreJuzgado"
          style="text-align: center;">
      </mat-form-field>
    </div>
  </div>
  <div class="row py-3">
    <div class="col-sm-12 col-md-12 col-xl-12 ">
      <mat-form-field class="ancho-full-width">
        <input type="text" maxlength="500" matInput placeholder="Observaciones" formControlName="observacionSinEfecto">
      </mat-form-field>
    </div>
  </div>
</form>
