<!-- 1 -->
<form [formGroup]="form">
  <div class="row py-3">
    <div class="col-sm-12 col-md-4 col-xl-4 ">
      <mat-form-field class="example-full-width">
        <input maxlength="20" pKeyFilter="alpha" formControlName="apePaterno" matInput placeholder="Apellido Paterno">
      </mat-form-field>
    </div>
    <div class="col-sm-12 col-md-4 col-xl-4 ">
      <mat-form-field class="example-full-width">
        <input maxlength="20" pKeyFilter="alpha" formControlName="apeMaterno" matInput placeholder="Apellido Materno">
      </mat-form-field>
    </div>
    <div class="col-sm-12 col-md-4 col-xl-4 ">
      <mat-form-field class="example-full-width">
        <input maxlength="20" pKeyFilter="alpha" formControlName="primerNombreCobrante" matInput
          placeholder="Primer Nombre">
      </mat-form-field>
    </div>
  </div>
  <div class="row py-3">
    <div class="col-sm-12 col-md-4 col-xl-4 ">
      <mat-form-field class="example-full-width">
        <input maxlength="20" pKeyFilter="alpha" formControlName="segundNombreCobrante" matInput
          placeholder="Segundo Nombre">
      </mat-form-field>
    </div>
    <div class="col-sm-12 col-md-4 col-xl-4 select-container">
      <!--mat-form-field class="example-full-width">
        <input formControlName="sexoDemandante" matInput placeholder="Sexo del demandante">
      </mat-form-field-->
      <mat-form-field>
        <mat-select placeholder="Sexo del demandante" formControlName="sexoCobrante" style="text-align: center;">
          <mat-option *ngFor="let obj of sexoList" [value]="obj.valor">
            {{obj.descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <!-- 2 -->
  <div class="row py-3">
    <div class="col-sm-12 col-md-4 col-xl-4 select-container">
      <!--mat-form-field class="example-full-width">
        <input formControlName="tipoDocDemanandate" matInput placeholder="Tipo dcoumento">
      </mat-form-field-->
      <mat-form-field>
        <mat-select placeholder="Tipo dcoumento" formControlName="tipoDocCobrante" style="text-align: center;">
          <mat-option *ngFor="let obj of tipoIdentificacionList" [value]="obj.tipo">
            {{obj.descripcionTipo}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-12 col-md-4 col-xl-4 ">
      <mat-form-field class="example-full-width">
        <input pKeyFilter="alphanum" maxlength="10" formControlName="nroDocCobrante" matInput
          placeholder="Nro Documento">
      </mat-form-field>
    </div>
    <div class="col-sm-12 col-md-4 col-xl-4 ">
      <mat-form-field class="example-full-width">
        <input pKeyFilter="alphanum" maxlength="12" formControlName="cuspp" matInput placeholder="CUSPP">
      </mat-form-field>
    </div>
  </div>
  <!-- 3 -->
  <div class="row py-3">
    <div class="col-sm-12 col-md-4 col-xl-4 ">
      <mat-form-field class="example-full-width">
        <input maxlength="30" formControlName="sac" matInput placeholder="SAC">
      </mat-form-field>
    </div>
  </div>
</form>
<div class="enProceso" *ngIf="imagenCargando">
</div>
