.div-contenedor{
  background-color: #eaeef6;
}

input{
  /*text-align: center;*/
}
.input-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.input-full-width {
  width: 90%;
}

.ordenar-pegado-derecha {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 70%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.bordes-redondos{
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 1px solid #b1b1b1;
}

.contenedor1{
    width: 95%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

.contenedor2{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

h4{
  color: #4c5662;
  size: 20px;
}

.colores-checkbox{
  color: #16b2dc;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.select-container {
  display: flex;
  flex-direction: column;
}

.select-container > * {
  width: 90%;
}
