<form [formGroup]="formGeneral">
  <div class="contenedor1 py-3">

    <div class="row">
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
        <label>Generar Reintegro:</label>&nbsp;
        <p-dropdown [options]="generarReintegro" formControlName="selectedGenerarReintegro"
          placeholder="Generar Reintegro" optionLabel="label"></p-dropdown>
      </div>
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
        <label>Desde:</label>&nbsp;
        <p-calendar formControlName="ngFechaDesde" [monthNavigator]="true" [yearNavigator]="true" [maxDate]="maxDate"
          [readonlyInput]="false" dateFormat="dd/mm/yy" [yearRange]="yearRange" [locale]="es" [showIcon]="true">
        </p-calendar>
      </div>
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4 ">
        <label class="float-right">Fecha actual: &nbsp; {{fechaActual}}</label>
      </div>
    </div>

  </div>
</form>
<br>
<form [formGroup]="formDatosDemandante">
  <div class="contenedor1 bordes-redondos py-2">

    <div class="row">
      <div class="col-12 col-sm-12 col-lg-6 col-xl-6">
        <h4>Datos del demandante: </h4>
      </div>
    </div>
    <div class="contenedor2">
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Apellido paterno del demandante" formControlName="apePaternoDemantante"
              pKeyFilter="alphanum" maxlength="20">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Apellido materno del demandante" formControlName="apeMaternoDemandante"
              pKeyFilter="alphanum" maxlength="20">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Primer nombre del demandante" formControlName="primerNombreDemandante"
              pKeyFilter="alphanum" maxlength="20">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Segundo nombre del demandante" formControlName="segundoNombreDemandante"
              pKeyFilter="alphanum" maxlength="20">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4 select-container">
          <!--mat-form-field class="input-full-width">
            <input matInput placeholder="Sexo del demandante del demandante" formControlName="sexoDemandante">
          </mat-form-field-->
          <mat-form-field>
            <mat-select placeholder="Sexo del demandante" formControlName="sexoDemandante" style="text-align: center;">
              <mat-option *ngFor="let obj of arraySexo" [value]="obj.valor">
                {{obj.descripcion}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4 select-container">
          <!--mat-form-field class="input-full-width">
          <input matInput placeholder="Tipo documento del demandante" [(ngModel)]="retencionjudicial.tipoDocDemandante">
        </mat-form-field-->
          <mat-form-field>
            <mat-select placeholder="Tipo documento" formControlName="tipoDocDemandante" style="text-align: center;">
              <mat-option *ngFor="let obj of arrayTipoDocumento" [value]="obj.tipo">
                {{obj.descripcionTipo}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Nro. Documento del demandante" formControlName="numDocDemandante"
              pKeyFilter="alphanum" maxlength="10">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="CUSPP" formControlName="cusppDemandante" pKeyFilter="alphanum" maxlength="16">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="SAC" formControlName="sacDemandante" pKeyFilter="alphanum" maxlength="20">
          </mat-form-field>
        </div>
      </div>
    </div>

  </div>
</form>

<form [formGroup]="formDatosCobrante">
  <div class="contenedor1 bordes-redondos py-2">
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-6 col-xl-6">
        <h4>Datos del cobrante: </h4>
      </div>
      <div class="col-12 col-sm-12 col-lg-6 col-xl-6">
        <div class="float-right">
          <label class="colores-checkbox">Copiar datos desde Demandante </label> &nbsp;
          <p-radioButton name="groupname" (onClick)="copiarDatosDemandante()">
          </p-radioButton>
        </div>
      </div>
    </div>
    <div class="contenedor2">
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Apellido paterno del cobrante" formControlName="apePaternoCobrante"
              pKeyFilter="alphanum" maxlength="20">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Apellido materno del cobrante" formControlName="apeMaternoCobrante"
              pKeyFilter="alphanum" maxlength="20">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Primer nombre del cobrante" formControlName="primerNombreCobrante"
              pKeyFilter="alphanum" maxlength="20">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Segundo nombre del cobrante" formControlName="segundoNombreCobrante"
              pKeyFilter="alphanum" maxlength="20">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4 select-container">
          <!--mat-form-field class="input-full-width">
              <input matInput placeholder="Sexo del cobrante" formControlName="sexoCobrante">
            </mat-form-field-->
          <mat-form-field>
            <mat-select placeholder="Sexo del cobrante" formControlName="sexoCobrante" style="text-align: center;">
              <mat-option *ngFor="let obj of arraySexo" [value]="obj.valor">
                {{obj.descripcion}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4 select-container">
          <!--mat-form-field class="input-full-width">
            <input matInput placeholder="Tipo documento del cobrante" value="">
          </mat-form-field-->
          <mat-form-field>
            <mat-select placeholder="Tipo documento" formControlName="tipoDocCobrante" style="text-align: center;">
              <mat-option *ngFor="let obj of arrayTipoDocumento" [value]="obj.tipo">
                {{obj.descripcionTipo}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Nro. Documento del cobrante" formControlName="numDocCobrante"
              pKeyFilter="alphanum" maxlength="10">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="CUSPP" formControlName="cusppCobrante" pKeyFilter="alphanum" maxlength="16">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="SAC" formControlName="sacCobrante" pKeyFilter="alphanum" maxlength="20">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</form>
<form [formGroup]="formDatosAlimentista">
  <div class="contenedor1 bordes-redondos py-2">
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-6 col-xl-6">
        <h4>Datos del alimentista: </h4>
      </div>
      <div class="col-12 col-sm-12 col-lg-6 col-xl-6">
        <div class="float-right">
          <label class="colores-checkbox">Pegar datos desde: </label> &nbsp;&nbsp;
          <label class="colores-checkbox">Demandante </label> &nbsp;
          <p-radioButton name="groupname2" (onClick)="copiarDatosDemandanteALimentista()">
          </p-radioButton>
          &nbsp;&nbsp;
          <label class="colores-checkbox">Cobrante </label> &nbsp;
          <p-radioButton name="groupname2" (onClick)="copiarDatosCobranteALimentista()">
          </p-radioButton>
        </div>
      </div>
    </div>
    <div class="contenedor2">
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Apellido paterno del alimentista" formControlName="apePaternoAlimentista"
              pKeyFilter="alphanum" maxlength="20">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Apellido materno del alimentista" formControlName="apeMaternoAlimentista"
              pKeyFilter="alphanum" maxlength="20">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Primer nombre del alimentista" formControlName="primerNombreAlimentista"
              pKeyFilter="alphanum" maxlength="20">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Segundo nombre del alimentista" formControlName="segundoNombreAlimentista"
              pKeyFilter="alphanum" maxlength="20">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4 select-container">
          <mat-form-field>
            <mat-select placeholder="Sexo del alimentista" formControlName="sexoAlimentista"
              style="text-align: center;">
              <mat-option *ngFor="let obj of arraySexo" [value]="obj.valor">
                {{obj.descripcion}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4 select-container">
          <mat-form-field>
            <mat-select placeholder="Tipo documento" formControlName="tipoDocAlimentista" style="text-align: center;">
              <mat-option *ngFor="let obj of arrayTipoDocumento" [value]="obj.tipo">
                {{obj.descripcionTipo}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Nro. Documento" formControlName="numDocAlimentista" pKeyFilter="alphanum"
              maxlength="10">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="CUSPP" formControlName="cusppAlimentista" pKeyFilter="alphanum" maxlength="16">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="SAC" formControlName="sacAlimentista" pKeyFilter="alphanum" maxlength="20">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="contenedor1 bordes-redondos py-2">
  <h4>Datos del juzgado: </h4>
  <form [formGroup]="formDatosCombosJuzgado">
    <div class="contenedor2">
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4 select-container">
          <mat-form-field>
            <mat-select placeholder="País" formControlName="paisJuzgado" style="text-align: center;">
              <mat-option *ngFor="let obj of arrayPais" [value]="obj.valor">
                {{obj.descripcion}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4 select-container">
          <mat-form-field>
            <mat-select placeholder="Departamento" formControlName="departamentoJuzgado" style="text-align: center;">
              <mat-option *ngFor="let obj of arrayDepartamento" [value]="obj.codigoDept">
                {{obj.nombreDept}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4 select-container">
          <mat-form-field>
            <mat-select placeholder="Provincia" formControlName="provinciaJuzgado" style="text-align: center;">
              <mat-option *ngFor="let obj of arrayProvinciaCiudad" [value]="obj.codCiudad">
                {{obj.nombreCiudad}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4 select-container">
          <mat-form-field>
            <mat-select placeholder="Distrito" formControlName="distritoJuzgado" style="text-align: center;">
              <mat-option *ngFor="let obj of arrayDistrito" [value]="obj.codDistrito">
                {{obj.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
  <form [formGroup]="formDatosJuzgado">
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-8 col-xl-8">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Dirección del juzgado" formControlName="direccionJuzgado">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-12 col-xl-12">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Nombre del juzgado" formControlName="nombreJuzgado">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Nro. de Oficio" formControlName="numOficio">
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Nro. de expediente" formControlName="numExpediente">
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<div class="enProceso" *ngIf="imagenCargando">
</div>
