<div class="container-fluid main-container">
  <!--div class="row">
    <div class="btn-group col-sm-8">
      <select class="form-control form-control-lg col-3" [(ngModel)]="selectTipBus">
        <option *ngFor="let t of tipoBusqueda" [ngValue]="t">{{t.name}}</option>
      </select>
      <input name="inputBuscarRetJud" class="col-4" [(ngModel)]="nombreDni" placeholder="Ingrese Valor Seleccionado"
        style='text-transform:uppercase' (keyup.enter)="buscar()">
      <button class="btn btn-warning col-sm-1" type="button" (click)="buscar()">
        <i class="fa fa-search fa-lg" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-warning buttonDerecha boton-derecha-two boton-derecha-accion" type="button"
        data-toggle="modal" data-target="#exampleModalCenter" data-backdrop="static" (click)="limpiarDatos()">
        <i class="fa fa-download" aria-hidden="true"></i>
      </button>
      <button class="btn btn-warning buttonDerecha boton-derecha boton-derecha-accion"
        (click)="generarNuevaRetencion()">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> Agregar Registro
      </button>
    </div>
  </div-->
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-3 col-xl-3">
      <label>Seleccione tipo de busqueda:</label>
    </div>
    <div class="col-12 col-sm-12 col-lg-6 col-xl-6">
      <select class="custom-select" [(ngModel)]="selectTipBus" (click)="limpiarCampos()">
        <option *ngFor="let t of tipoBusqueda" [ngValue]="t">{{t.name}}</option>
      </select>
    </div>
  </div>
  <div class="row py-2" *ngIf="selectTipBus.id == 1">
    <div class="col-12 col-sm-12 col-lg-6 col-xl-3">
      <label>Apellido Paterno:</label>
    </div>
    <div class="col-12 col-sm-12 col-lg-6 col-xl-3">
      <input type="text" [(ngModel)]="apPat" maxlength="20" (keyup.enter)="buscar()">
    </div>
    <div class="col-12 col-sm-12 col-lg-6 col-xl-3">
      <label>Apellido Materno:</label>
    </div>
    <div class="col-12 col-sm-12 col-lg-6 col-xl-3">
      <input type="text" [(ngModel)]="apMat" maxlength="20" (keyup.enter)="buscar()">
    </div>
  </div>
  <div class="row py-1" *ngIf="selectTipBus.id == 1">
    <div class="col-12 col-sm-12 col-lg-6 col-xl-3">
      <label>Primer Nombre:</label>
    </div>
    <div class="col-12 col-sm-12 col-lg-6 col-xl-3">
      <input type="text" [(ngModel)]="prNom" maxlength="20" (keyup.enter)="buscar()">
    </div>
    <div class="col-12 col-sm-12 col-lg-6 col-xl-3">
      <label>Segundo Nombre:</label>
    </div>
    <div class="col-12 col-sm-12 col-lg-6 col-xl-3">
      <input type="text" [(ngModel)]="sgNom" maxlength="20" (keyup.enter)="buscar()">
    </div>
  </div>
  <div class="row py-2" *ngIf="selectTipBus.id == 2">
    <div class="col-12 col-sm-12 col-lg-6 col-xl-3">
      <label>Numero de Documento:</label>
    </div>
    <div class="col-12 col-sm-12 col-lg-6 col-xl-3">
      <input type="text" [(ngModel)]="dni" maxlength="8" (keyup.enter)="buscar()">
    </div>
  </div>
  <div class="row py-1">
    <div class="col-12 col-sm-12 col-lg-6 col-xl-6">
      <button class="btn btn-warning  rounded" (click)="generarNuevaRetencion()">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> Agregar Registro
      </button>
    </div>
    <div class="col-12 col-sm-12 col-lg-6 col-xl-6">
      <button class="btn btn-warning rounded fa-pull-right" type="button" (click)="buscar()">
        <i class="fa fa-search fa-lg" aria-hidden="true"></i> Buscar
      </button>
    </div>
  </div>
  <!--div class="row py-1">
    <div class="col-12 col-sm-12 col-lg-6 col-xl-6">
      <button class="btn btn-warning  boton-derecha-two boton-derecha-accion" type="button" data-toggle="modal"
        data-target="#exampleModalCenter" data-backdrop="static" (click)="limpiarDatos()">
        <i class="fa fa-download" aria-hidden="true"></i> Exportar
      </button>
    </div>
    <div class="col-12 col-sm-12 col-lg-6 col-xl-6">
      <button class="btn btn-warning  boton-derecha boton-derecha-accion" (click)="generarNuevaRetencion()">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> Agregar Registro
      </button>
    </div>
  </div-->
</div>

<div class="container-fluid main-container">
  <p-table #dt [responsive]="true" [autoLayout]="true" [value]="dataSource" [lazy]="true"
    (onLazyLoad)="loadCarsLazy($event)" [paginator]="true" [rows]="10" [totalRecords]="totalRecords">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of displayedColumns">
          {{col}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td>{{data.tipoProceso}}</td>
        <td>{{data.afecta == 'A'? 'Afiliado':'Beneficiario'}}</td>
        <td>{{data.secuencia}}</td>
        <td>{{data.numIdentificaion}}</td>
        <td>{{data.numDocAfiliado}}</td>
        <td>{{data.apellidoPaternoAfiliado}} {{data.apellidoMaternoAfiliado}} {{data.primerNombreAfiliado}}
          {{data.segundoNombreAfiliado}}</td>
        <td>{{data.cusppBeneficiario}}</td>
        <td>{{data.apePaternoDemantante}} {{data.apeMaternoDemandante}} {{data.primerNombreDemandante}}
          {{data.segundoNombreDemandante}}</td>
        <td>{{data.fchCreacion}}</td>
        <td>{{data.estadoRetencion}}</td>
        <td>
          <button type="button" class="btn btn-outline-primary" (click)="editar(data)">
            <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-outline-primary" (click)="visualizar(data)">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div class="container invisible">
  <div class="row py-1">
    <div class="col-12 col-sm-12 col-lg-6 col-xl-6">
      <button class="btn btn-warning  boton-derecha-two boton-derecha-accion" type="button" data-toggle="modal"
        data-target="#exampleModalCenter" data-backdrop="static" (click)="limpiarDatos()">
        <i class="fa fa-download" aria-hidden="true"></i> Exportar
      </button>
    </div>
  </div>
</div>

<!-- Modal Exportar-->
<app-exportar-datos [ngFechaInicial]="ngFechaInicial" [ngFechaFinal]="ngFechaFinal"
  (valoresFiltroDescarga)="descargarArchivo($event)"></app-exportar-datos>
<!-- Modal Exportar-->
<app-editar [retencionJudicialEditar]="retencionJudicialEditar"></app-editar>

<div class="enProceso" *ngIf="imagenCargando">
</div>
