.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.select-container {
  display: flex;
  flex-direction: column;
}

.select-container > * {
  width: 100%;
}
/*.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
    z-index: 9999 !important;
}*/

