<!-- 1 -->
<form [formGroup]="formMedioPago">
  <div class="row py-3">
    <div class="col-sm-12 col-md-4 col-xl-4 select-container">
      <mat-form-field>
        <mat-select placeholder="Indicador limite a usar" formControlName="indicadorLimUsar"
          style="text-align: center;">
          <mat-option *ngFor="let obj of arrayMontoFecha" [value]="obj.valor">
            {{obj.descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-12 col-md-4 col-xl-4 select-container">
      <mat-form-field>
        <mat-select placeholder="Moneda de retención" formControlName="monedaRetencion" style="text-align: center;">
          <mat-option *ngFor="let obj of arrayMonedaRetencion" [value]="obj.valor">
            {{obj.valor}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-12 col-md-4 col-xl-4 select-container">
      <mat-form-field>
        <mat-select placeholder="Moneda de Pago" formControlName="monedaPado" style="text-align: center;">
          <mat-option *ngFor="let obj of arrayMonedaPago" [value]="obj.valor">
            {{obj.valor}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <!-- 2 -->
  <div class="row py-3">
    <div class="col-sm-12 col-md-4 col-xl-4 select-container">
      <mat-form-field>
        <mat-select placeholder="¿Existe tope o límite?" formControlName="topeLimite" style="text-align: center;">
          <mat-option *ngFor="let obj of arrayExisteTipLim" [value]="obj.valor">
            {{obj.descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-12 col-md-4 col-xl-4 select-container">
      <mat-form-field>
        <mat-select placeholder="¿Tope por monto o porcentaje?" formControlName="topeMontoPorsentaje"
          style="text-align: center;">
          <mat-option *ngFor="let obj of arrayTopePorMontPorc" [value]="obj.valor">
            {{obj.descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <!-- 3 -->
  <div class="row py-3">
    <div class="col-sm-12 col-md-4 col-xl-4 " *ngIf="retJud.tipoTope == 'P'">
      <mat-form-field class="example-full-width">
        <input pKeyFilter="num" maxlength="6" formControlName="porcentajeDescuento" matInput
          placeholder="Porcentaje de descuento">
      </mat-form-field>
    </div>
    <div class="col-sm-12 col-md-4 col-xl-4 ">
      <mat-form-field class="example-full-width" *ngIf="retJud.tipoTope == 'M'">
        <input pKeyFilter="num" maxlength="15" formControlName="montoDescuento" matInput
          placeholder="Monto del descuento">
      </mat-form-field>
    </div>
    <div class="col-sm-12 col-md-4 col-xl-4 " *ngIf="retJud.existeTopeLimite == 'S'">
      <mat-form-field class="example-full-width">
        <input pKeyFilter="num" maxlength="15" formControlName="montoTope" matInput placeholder="Monto tope">
      </mat-form-field>
    </div>
  </div>
  <!-- 4 -->
  <div class="row py-3">
    <div class="col-sm-12 col-md-4 col-xl-4 select-container">
      <mat-form-field>
        <mat-select placeholder="Forma de pago de retención" formControlName="formaPagoRetencion"
          style="text-align: center;">
          <mat-option *ngFor="let obj of arrayFormaPago" [value]="obj.valor">
            {{obj.descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-4 col-xl-4 select-container" *ngIf="retJud.formaPago != 'J'">
      <mat-form-field>
        <mat-select placeholder="Banco" formControlName="banco" style="text-align: center;">
          <mat-option *ngFor="let obj of entidadFinancieraList" [value]="obj.codEntRec">
            {{obj.nombreEntRec}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-12 col-md-4 col-xl-4" *ngIf="this.retJud.formaPago == 'A'">
      <mat-form-field class="example-full-width">
        <input maxlength="30" formControlName="nroCuentaDesposi" matInput placeholder="Nro. de Cuenta de deposito">
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-4 col-xl-4" *ngIf="this.retJud.formaPago == 'C'">
      <mat-form-field class="example-full-width">
        <input maxlength="12" formControlName="nroCheque" matInput placeholder="Nro. de Cheque">
      </mat-form-field>
    </div>


    <div class="col-sm-12 col-md-4 col-xl-4 select-container" *ngIf="this.retJud.formaPago == 'C'">
      <mat-form-field>
        <mat-select placeholder="Agencia" formControlName="agencia" style="text-align: center;">
          <mat-option *ngFor="let obj of arrayAgencias" [value]="obj.codigoAgencia">
            {{obj.nombreAgencia}} - {{obj.codigoAgencia}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <!-- Solo para datos de Consignacion Judicial-->
    <div class="col-sm-12 col-md-4 col-xl-4" *ngIf="this.retJud.formaPago == 'J'">
      <mat-form-field class="input-full-width">
        <input matInput placeholder="Banco" value="BANCO SCOTIABANK" disabled>
      </mat-form-field>
    </div>
    <div class="col-sm-12 col-md-4 col-xl-4" *ngIf="this.retJud.formaPago == 'J'">
      <mat-form-field class="input-full-width">
        <input matInput placeholder="Agencia" value="AGENCIA PRINCIPAL" disabled>
      </mat-form-field>
    </div>
    <!-- XXXXXXXX -->


  </div>
  <!-- 5 -->
  <div class="row py-3">
    <div class="col-sm-12 col-md-4 col-xl-4 select-container">
      <mat-form-field>
        <mat-select placeholder="Encargado de retención" formControlName="encargadoRetencion"
          style="text-align: center;">
          <mat-option *ngFor="let obj of arrayEncargadoRetencion" [value]="obj.valor">
            {{obj.descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-4 col-xl-4 select-container" *ngIf="retJud.encardoRetencion == 'CIA'">
      <mat-form-field>
        <mat-select placeholder="Cia de seguros a cargo de retención" formControlName="ciaSeguroCargoReten"
          style="text-align: center;">
          <mat-option *ngFor="let obj of entidadAseguradoraList" [value]="obj.codEntiAsegu">
            {{obj.nombEmtiAsegu}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>



    <div class="col-sm-12 col-md-4 col-xl-4 ">
      <mat-form-field class="example-full-width">
        <input maxlength="50" formControlName="cartaRespuEnvJuzga" matInput
          placeholder="Carta de respuesta enviada al juzgao">
      </mat-form-field>
    </div>

  </div>
</form>
<div class="enProceso" *ngIf="imagenCargando">
</div>
