<div class="container py-2">
  <div class="form-row">
    <div class="form-group col-md-3">
      <label>Tipo de Proceso</label>
      <input type="text" class="form-control" [ngModel]="retJud.tipoProceso" placeholder="Tipo de Proceso" readonly>
    </div>
    <div class="form-group col-md-3 text-center">
      <label>N° identificación</label>
      <input type="text" class="form-control" [ngModel]="retJud.numIdentificaion" placeholder="N° identificación"
        readonly>
    </div>
    <div class="form-group col-md-3 text-center">
      <label>Secuencia</label>
      <input type="text" class="form-control" [ngModel]="retJud.secuencia" placeholder="Secuencia" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Afecta</label>
      <input type="text" class="form-control" [ngModel]="retJud.afecta=='A'?'Afiliado':'Beneficiaio'"
        placeholder="Afecta" readonly>
    </div>
  </div>
  <!-- Datos Demandado-->
  <div class="form-row border border-dark rounded">
    <div class="form-group col-md-12">
      <h3>Datos Demandado</h3>
    </div>
    <div class="form-group col-md-3 ">
      <label>Apellido Paterno Demandado</label>
      <input type="text" class="form-control" [ngModel]="retJud.apellidoPaternoAfiliado"
        placeholder="Apellido Paterno Demandado" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Apellido Materno Demandado</label>
      <input type="text" class="form-control" [ngModel]="retJud.apellidoMaternoAfiliado"
        placeholder="Apellido Materno Demandado" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Primer Nombre Demandado</label>
      <input type="text" class="form-control" [ngModel]="retJud.primerNombreAfiliado"
        placeholder="Primer Nombre Demandado" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Segundo Nombre Demandado</label>
      <input type="text" class="form-control" [ngModel]="retJud.segundoNombreAfiliado"
        placeholder="Segundo Nombre Demandado" readonly>
    </div>
    <div class="form-group col-md-3">
      <label for="inputState">Tipo Documento Demandado</label>
      <input type="text" class="form-control" [ngModel]="retJud.tipoDocAfiliado" placeholder="Segundo Nombre Demandado"
        readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Numero Documento Demandado</label>
      <input type="text" class="form-control" [ngModel]="retJud.numDocAfiliado" placeholder="Numero Documento Demandado"
        readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Sexo del Demandado</label>
      <input type="text" class="form-control" [ngModel]="retJud.sexoAfiliado == 'M'?'Masculino':'Femenino'"
        placeholder="Sexo del Demandado" readonly>
    </div>
  </div>
  <!-- Datos Alimentista-->
  <br>
  <div class="form-row border border-dark rounded">
    <div class="form-group col-md-12">
      <h3>Datos Alimentista</h3>
    </div>
    <div class="form-group col-md-3">
      <label>Apellido Paterno Alimentista</label>
      <input type="text" class="form-control" [ngModel]="retJud.apePaternoDemantante"
        placeholder="Apellido Paterno Alimentista" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Apellido Materno Alimentista</label>
      <input type="text" class="form-control" [ngModel]="retJud.apeMaternoDemandante"
        placeholder="Apellido Materno Alimentista" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Primer Nombre Alimentista</label>
      <input type="text" class="form-control" [ngModel]="retJud.primerNombreDemandante"
        placeholder="Primer Nombre Alimentista" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Segundo Nombre Alimentista</label>
      <input type="text" class="form-control" [ngModel]="retJud.segundoNombreDemandante"
        placeholder="Segundo Nombre Alimentista" readonly>
    </div>
    <div class="form-group col-md-3">
      <label for="inputState">Tipo Documento Alimentista</label>
      <input type="text" class="form-control" [ngModel]="retJud.tipoDocDemandante"
        placeholder="Tipo Documento Alimentista" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Numero Documento Alimentista</label>
      <input type="text" class="form-control" [ngModel]="retJud.numDocDemandante"
        placeholder="Numero Documento Alimentista" readonly>
    </div>
    <div class="form-group col-md-3  invisible">
      <label>Cuspp Alimentista</label>
      <input type="text" class="form-control" placeholder="Cuspp Alimentista" readonly>
    </div>
    <div class="form-group col-md-3 invisible">
      <label>Sac Alimentista</label>
      <input type="text" class="form-control" placeholder="Sac Alimentista" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Sexo</label>
      <input type="text" class="form-control" [ngModel]="retJud.sexoDemandante == 'M'?'Masculino':'Femenino'"
        placeholder="Sexo" readonly>
    </div>
  </div>
  <!-- Datos Cobrante-->
  <br>
  <div class="form-row border border-dark rounded">
    <div class="form-group col-md-12">
      <h3>Datos Cobrante</h3>
    </div>
    <div class="form-group col-md-3">
      <label>Apellido Paterno Cobrante</label>
      <input type="text" class="form-control" [ngModel]="retJud.apePatCobrante" placeholder="Apellido Paterno Cobrante"
        readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Apellido Materno Cobrante</label>
      <input type="text" class="form-control" [ngModel]="retJud.apeMatCobrante" placeholder="Apellido Materno Cobrante"
        readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Primer Nombre Cobrante</label>
      <input type="text" class="form-control" [ngModel]="retJud.priNomCobrante" placeholder="Primer Nombre Cobrante"
        readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Segundo Nombre Cobrante</label>
      <input type="text" class="form-control" [ngModel]="retJud.segNomCobrante" placeholder="Segundo Nombre Cobrante"
        readonly>
    </div>
    <div class="form-group col-md-3">
      <label for="inputState">Tipo Documento Cobrante</label>
      <input type="text" class="form-control" [ngModel]="retJud.tipDocCobrante" placeholder="Tipo Documento Cobrante"
        readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Numero Documento Cobrante</label>
      <input type="text" class="form-control" [ngModel]="retJud.numDocCobrante" placeholder="Numero Documento Cobrante"
        readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Sexo Cobrante</label>
      <input type="text" class="form-control" [ngModel]="retJud.sexoCobrante == 'M'?'Masculino':'Femenino'"
        placeholder="Cuspp Cobrante" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Cuspp Cobrante</label>
      <input type="text" class="form-control" [ngModel]="retJud.cusppCobrante" placeholder="Cuspp Cobrante" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Sac Cobrante</label>
      <input type="text" class="form-control" [ngModel]="retJud.sacCobrante" placeholder="Sac sacCobrante" readonly>
    </div>
  </div>
  <!-- Datos Demandante-->
  <br>
  <div class="form-row border border-dark rounded">
    <div class="form-group col-md-12">
      <h3>Datos Demandante</h3>
    </div>
    <div class="form-group col-md-3">
      <label>Apellido Paterno Demandante</label>
      <input type="text" class="form-control" [ngModel]="retJud.apePatQuienDemandante"
        placeholder="Apellido Paterno Demandante" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Apellido Materno Demandante</label>
      <input type="text" class="form-control" [ngModel]="retJud.apeMatQuienDemandante"
        placeholder="Apellido Materno Demandante" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Primer Nombre Demandante</label>
      <input type="text" class="form-control" [ngModel]="retJud.priNomQuienDenmandate"
        placeholder="Primer Nombre Demandante" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Segundo Nombre Demandante</label>
      <input type="text" class="form-control" [ngModel]="retJud.segNomQuienDemandante"
        placeholder="Segundo Nombre Demandante" readonly>
    </div>
    <div class="form-group col-md-3">
      <label for="inputState">Tipo Documento Demandante</label>
      <input type="text" class="form-control" [ngModel]="retJud.tipDocQuienDemandante" placeholder="Tipo Documento"
        readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Numero Documento Demandante</label>
      <input type="text" class="form-control" [ngModel]="retJud.numDocQuienDemandante"
        placeholder="Numero Documento Demandante" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Sexo Demandante</label>
      <input type="text" class="form-control" [ngModel]="retJud.sexoQuienDemandante == 'M'?'Masculino':'Femenino'"
        placeholder="Sexo Demandante" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Cuspp Demandante</label>
      <input type="text" class="form-control" [ngModel]="retJud.cusppQuienDemandante" placeholder="Cuspp Demandante"
        readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Sac Demandante</label>
      <input type="text" class="form-control" [ngModel]="retJud.sacQuienDemandante" placeholder="Sac Demandante"
        readonly>
    </div>
  </div>
  <!-- Datos De La Retencion-->
  <br>
  <div class="form-row border border-dark rounded">
    <div class="form-group col-md-12">
      <h3>Datos de la Retencion</h3>
    </div>
    <div class="form-group col-md-3">
      <label>Moneda de Retencion</label>
      <input type="text" class="form-control" [ngModel]="retJud.monedaRetencion =='S'?'Soles':'Dolar'"
        placeholder="Moneda de Retencion" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Moneda de Pago</label>
      <input type="text" class="form-control" [ngModel]="retJud.monedaPago =='S'?'Soles':'Dolar'"
        placeholder="Moneda de Pago" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Indicador a limite a usar</label>
      <input type="text" class="form-control" [ngModel]="retJud.indicadorHastaMontoFecha =='M'?'Monto':'Fecha'"
        placeholder="Primer Nombre Demandante" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Existe Tope o Limite</label>
      <input type="text" class="form-control" [ngModel]="retJud.existeTopeLimite =='S'?'Si':'No'"
        placeholder="Segundo Nombre Demandante" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Monto de Descuento</label>
      <input type="text" class="form-control" [ngModel]="retJud.montoDescuento"
        placeholder="Numero Documento Demandante" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Monto Tope</label>
      <input type="text" class="form-control" [ngModel]="retJud.montoTope" placeholder="Cuspp Demandante" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Porcentaje de Descuento</label>
      <input type="text" class="form-control" [ngModel]="retJud.porcentajeDescuento" placeholder="Sac Demandante"
        readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Generar Reintegro</label>
      <input type="text" class="form-control" [ngModel]="retJud.ingGeneraReintegro == 'S'?'Si':'No'"
        placeholder="Se Genera Reintegro" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Fecha de Recepcion de Oficio</label>
      <input type="text" class="form-control" [ngModel]="retJud.fchRecepcionOficio"
        placeholder="Fecha de Recepcion de Oficio" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Se Envia consulta a juzgado</label>
      <input type="text" class="form-control" [ngModel]="retJud.envConsultaJuzgado != 'S'?'Si':'No'"
        placeholder="Se Envia consulta a juzgado" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Numero de SAC/Reclamo</label>
      <input type="text" class="form-control" [ngModel]="retJud.numeroSacReclamo" placeholder="Numero de SAC/Reclamo"
        readonly>
    </div>
    <div class="form-group col-md-6">
      <label>Tipo de Proceso</label>
      <input type="text" class="form-control" [ngModel]="retJud.tipoProcesoRete" placeholder="Tipo de Proceso" readonly>
    </div>
    <div class="form-group col-md-6">
      <label>Nombre del Juez</label>
      <input type="text" class="form-control" [ngModel]="retJud.nombreJuez" placeholder="Nombre del Juez" readonly>
    </div>
    <div class="form-group col-md-6">
      <label>Corte</label>
      <input type="text" class="form-control" [ngModel]="retJud.corte" placeholder="Corte" readonly>
    </div>
    <div class="form-group col-md-12">
      <label>Observacion</label>
      <input type="text" class="form-control" [ngModel]="retJud.comentario" placeholder="Corte" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Forma de Pago de Retencion</label>
      <select id="inputState" class="form-control" [(ngModel)]="retJud.formaPago" disabled>
        <option *ngFor="let item of arrayFormaPago" [value]="item.valor">
          {{item.descripcion}}
        </option>
      </select>
    </div>
    <div class="form-group col-md-3" *ngIf="retJud.formaPago != 'J' && retJud.formaPago != ''">
      <label>Banco</label>
      <select id="inputState" class="form-control" [(ngModel)]="retJud.banco" disabled>
        <option *ngFor="let item of arrayEntidadFinanciera" [value]="item.codEntRec">
          {{item.nombreEntRec}}
        </option>
      </select>
    </div>
    <div class="form-group col-md-3" *ngIf="retJud.formaPago == 'J'">
      <label>Banco</label>
      <input type="text" class="form-control" placeholder="Banco" value="BANCO SCOTIABANK" readonly>
    </div>
    <div class="form-group col-md-3" *ngIf="retJud.formaPago == 'J'">
      <label>Agencia</label>
      <input type="text" class="form-control" placeholder="Agencia" value="AGENCIA PRINCIPAL" readonly>
    </div>
    <div class="form-group col-md-3" *ngIf="retJud.formaPago == 'C'">
      <label>Numero de Cheque</label>
      <input type="text" class="form-control" placeholder="Numero de Cheque" [(ngModel)]="retJud.numCheque" readonly>
    </div>
    <div class="form-group col-md-3" *ngIf="retJud.formaPago == 'A'">
      <label>Numero de Cuenta de Deposito</label>
      <input type="text" class="form-control" placeholder="Numero de Cuenta de Deposito"
        [(ngModel)]="retJud.numCuentaDeposito" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Encargado de la Retencion</label>
      <select id="inputState" class="form-control" [(ngModel)]="retJud.encardoRetencion"
        placeholder="Encargado de la Retencion" disabled>
        <option *ngFor="let item of arrayEncargadoRetencion" [value]="item.valor">
          {{item.descripcion}}
        </option>
      </select>
    </div>
    <div class="form-group col-md-3" *ngIf="retJud.encardoRetencion == 'CIA'">
      <label>Cia de seguros a cargo de retención</label>
      <select id="inputState" class="form-control" [(ngModel)]="retJud.ciaRetencion"
        placeholder="Cia de seguros a cargo de retención" disabled>
        <option *ngFor="let item of arrayEntidadAseguradora" [value]="item.codEntiAsegu">
          {{item.nombEmtiAsegu}}
        </option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label>Carta de respuesta de la Retencion</label>
      <input type="text" class="form-control" [ngModel]="retJud.cartaRespuestaEnvJuz"
        placeholder="Carta de respuesta de la Retencion" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Nombre de Juzgado</label>
      <input type="text" class="form-control" [ngModel]="retJud.juzgado" placeholder="Nombre de Juzgado" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Numero de Oficio</label>
      <input type="text" class="form-control" [ngModel]="retJud.numOficio" placeholder="Numero de Oficio" readonly>
    </div>
    <div class="form-group col-md-3">
      <label>Numero de Expediente</label>
      <input type="text" class="form-control" [ngModel]="retJud.numExpedite" placeholder="Numero de Expediente"
        readonly>
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-primary float-right" (click)="regresar()">Regresar</button>
</div>

<div class="enProceso" *ngIf="imagenCargando">
</div>
