/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.main-container{
    margin-top: 40px;
}

.enProceso {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background: #4b626b url('./assets/loading/enProceso.gif') no-repeat 50% 50%;
    background-size: 120px 100px;
    z-index: 9999;
    text-align: center;
}

.modal{
  overflow: auto !important;
}

.cdk-overlay-container{
  z-index: 9999;
}

body .ui-radiobutton-label {
    color: #16b2dc;
    size: 16px;
}

body .ui-radiobutton .ui-radiobutton-box.ui-state-active {
    border-color: #16b2dc !important;
    background-color: #16b2dc !important;
    color: #ffffff !important;
}
body .ui-radiobutton .ui-radiobutton-box {
    border: 1.5px solid #16b2dc !important;
}

.regular-radio  {
    -webkit-appearance: none !important;
    background-color: #e1e1e1 !important;
    border: 4px solid #e1e1e1 !important;
    border-radius: 10px !important;
    width: 100% !important;
    display: inline-block !important;
    position: relative !important;
    width: 10px !important;
    height: 10px !important;
}

.regular-radio:checked {
    background: grey !important;
    border: 4px solid #e1e1e1 !important;
}
