.btn-warning{
  color: #0033A0;
  width: 18%;
  background-color: #E3E829!important;
  border-color: #E3E829!important;
  float: right;
  border-radius: 28px 28px 28px 28px !important;
  -moz-border-radius: 28px 28px 28px 28px;
  -webkit-border-radius: 28px 28px 28px 28px;
}

.btn-warning:focus {
  box-shadow: 0 0 0 0.2rem #E3E829 !important;
}
