<div class="modal fade" id="dejarSinEfectoModal" tabindex="-1" role="dialog" aria-labelledby="dejarSinEfectoModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dejar sin Efecto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="salidarDejarSinEfecto()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="col-xl-12 col-sm-12">
            <h5 class="modal-title">
              Al guardar se grabaran los datos ingresados y cambiará el estado a "Culminado".
            </h5>
          </div>
          <app-formulario [retJud]="retencionjudicial" (salidaFormulario)="recuperar($event)"></app-formulario>
          <div class=" row py-3">
            <div class="col-sm-12 col-md-12 col-xl-12 ">
              <button class="btn btn-warning" data-dismiss="modal" aria-label="Close" data-backdrop="static"
                data-toggle="modal" data-target="#confirmacionDejarSinEfectoModal">
                <i class=" fa fa-floppy-o" aria-hidden="true"></i> Guardar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Confirmacion-->
<div class="modal fade" id="confirmacionDejarSinEfectoModal" tabindex="-1" role="dialog"
  aria-labelledby="confirmacionDejarSinEfectoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmacionDejarSinEfectoModalLabel">Confirmación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Esta seguro de guardar?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          (click)="cambiarDejarSinEfecto()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Error-Confirmacion -->
<div class="modal fade" id="dejarSinEfectoInformativoModal" tabindex="-1" role="dialog"
  aria-labelledby="dejarSinEfectoInformativoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dejarSinEfectoInformativoModalLabel">{{titutoModal}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{mensajeModal}}</p>
      </div>
    </div>
  </div>
</div>
<!-- Login -->
<div class="enProceso" *ngIf="imagenCargando">
</div>
