<div class="modal fade" id="modificarRJModal" tabindex="-1" role="dialog" aria-labelledby="modificarRJModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-full" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Modificar
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="salidarModificacion()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row py-3">
            <ul class="nav nav-tabs">
              <li class="nav-item" (click)="id_actual = 1">
                <a class="nav-link" [ngClass]="{'active': id_actual == 1}">Medios de pago</a>
              </li>
              <li class="nav-item" (click)="id_actual = 2">
                <a class="nav-link" [ngClass]="{'active': id_actual == 2}">Datos del cobrante</a>
              </li>
            </ul>
          </div>
          <!--Medio de Pago-->
          <app-medio-pago *ngIf="id_actual == 1" [retJud]="retencionjudicial" (salidaMedioPago)="recuperar($event)">
          </app-medio-pago>
          <!--Datos de cobrante-->
          <app-dato-cobrante *ngIf="id_actual == 2" [retJudi]="retencionjudicial"
            (salidaDatoCobrante)="recuperar($event)"></app-dato-cobrante>
          <div class="row py-3">
            <div class="col-sm-12 col-md-12 col-xl-12 ">
              <button class="btn btn-warning" data-dismiss="modal" aria-label="Close" data-backdrop="static"
                data-toggle="modal" data-target="#modificacionConfirmacionModificarModal">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="enProceso" *ngIf="imagenCargando">
</div>

<!-- Modal Confirmacion-->
<div class="modal fade" id="modificacionConfirmacionModificarModal" tabindex="-1" role="dialog"
  aria-labelledby="modificacionConfirmacionModificarModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modificacionConfirmacionModificarModalLabel">Confirmación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Esta seguro de guardar los cambios?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="guardarCambios()">Guardar
          Cambios</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel">Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{mensajeError}}</p>
      </div>
    </div>
  </div>
</div>
