/*.modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid #3c7dcf;
  border-radius: 0;
  box-shadow: none;
}

.modal-body {
  position: absolute;
  top: 50px;
  bottom: 60px;
  width: 100%;
  font-weight: 300;
  overflow: auto;
}*/

.h5, h5 {
    color: #0033A0 !important;
}

.modal-full {
    min-width: 70%;
    /*margin: 0;*/
}

.modal-full .modal-content {
    min-height: 70vh;
}

.modal-full .modal-body {
    position: relative !important;
}
.btn-warning{
  color: #0033A0;
  background-color: #E3E829!important;
  border-color: #E3E829!important;
  float: right;
}

.btn-warning:active {
    box-shadow: 0 0 0 0.2rem hsl(62, 81%, 54%) !important;
}

.btn-warning:focus {
    box-shadow: 0 0 0 0.2rem hsl(62, 81%, 54%) !important;
}
