select{
    color: hsl(210, 10%, 23%) !important;
    font-size: 0.8em;
    /*background-color: hsl(210, 10%, 23%) !important;*/
    /*border: #343a40 !important;*/
    /*border-radius: 4px 0px 0px 4px !important;*/
    /*height: calc(2em + 1rem + 2px);*/
}

.custom-select:focus{
  box-shadow: 0 0 0 0.2rem hsl(210, 7%, 39%);
}

.busqueda-icon:before {
    background: url("../../../assets/icons/search.svg") no-repeat scroll center center / 80% auto rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    color: #fff;
    height: 30px;
    margin-right: 13px;
    position: relative;
    top: -2px;
    vertical-align: middle;
    width: 30px;
}

.mas-icon:before {
    background: url("../../../assets/icons/add.svg") no-repeat scroll center center / 80% auto rgba(233, 27, 27, 0);
    content: "";
    display: inline-block;
    color: #fff;
    height: 30px;
    margin-right: 13px;
    position: relative;
    top: -2px;
    vertical-align: middle;
    width: 30px;
}

.mat-header-cell {
    background-color: rgb(255, 255, 255);
}

.boton-derecha{
    float: right;
    border-radius: 28px 28px 28px 28px !important;
    -moz-border-radius: 28px 28px 28px 28px;
    -webkit-border-radius: 28px 28px 28px 28px;
}

.boton-derecha-two{
    float: right;
    border-radius: 28px 28px 28px 28px !important;
    -moz-border-radius: 28px 28px 28px 28px;
    -webkit-border-radius: 28px 28px 28px 28px;
}

.btn-warning{
    color: #0033A0;
    background-color: #E3E829!important;
    border-color: #E3E829!important;
}

.btn-warning:focus {
    box-shadow: none;
}

.btn-warning:active {
    box-shadow: 0 0 0 0.2rem #E3E829 !important;
}

.table .thead-dark th {
    border-color: transparent;
    width: 69.9px;
    height: 28px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    color: #444444;
    background-color: #f4f6fa;
}

.payment_card__background {
    width: 1138.2px;
    height: 60px;
    border-radius: 2px;
    border: solid 1px #eeeeee;
    background-color: #ffffff;
}

.td{
    text-align: center !important;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem hsl(210, 10%, 23%) !important;
}
