<!--div class="contenedor1 bordes-redondos">
  <div class="row">
    <div class="col-12">
      <h3>Datos del demandado</h3>
    </div>
  </div>
  <div class="contenedor2">
    <form [formGroup]="formDatosDemandado">
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Condiciones de demandante" formControlName="condicionDemandante" disabled>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Monto de útima pensión" formControlName="montoUltimaPension" disabled>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Afectado" formControlName="afectado" disabled>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="CUSPP" formControlName="cuspp" disabled>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Secuencia" formControlName="secuencia" disabled>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Apellido Paterno" formControlName="apePaterno" disabled>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Apellido Materno" formControlName="apeMaterno" disabled>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Primer Nombre" formControlName="priNombre" disabled>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Segundo Nombre" formControlName="segNombre" disabled>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Sexo" formControlName="sexo" disabled>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Tipo de documento" formControlName="tipoDocumento" disabled>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Nro doc. Afiliado" formControlName="numDocAfiliado" disabled>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <label class="ordenar-pegado-derecha"> Tipo de Beneficiario: </label>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Nro Beneficiario" formControlName="numBeneficiario" disabled>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Sec. Beneficiario" formControlName="secBeneficiario" disabled>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="enProceso" *ngIf="imagenCargando">
</div-->

<div class="contenedor1 bordes-redondos">
  <div class="row">
    <div class="col-12">
      <h3>Datos del demandado</h3>
    </div>
  </div>
  <div class="contenedor2">
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Condiciones de demandante" [ngModel]="condicionDemandante" disabled>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Monto de útima pensión" [ngModel]="montoUltimaPension" disabled>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Afectado" [ngModel]="afectado" disabled>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="CUSPP" [ngModel]="cuspp" disabled>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4 invisible">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Secuencia" [ngModel]="secuencia" disabled>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Apellido Paterno" [ngModel]="apePaterno" disabled>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Apellido Materno" [ngModel]="apeMaterno" disabled>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Primer Nombre" [ngModel]="priNombre" disabled>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Segundo Nombre" [ngModel]="segNombre" disabled>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Sexo" [ngModel]="sexo" disabled>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Tipo de documento" [ngModel]="tipoDocumento" disabled>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Nro doc. Afiliado" [ngModel]="numDocAfiliado" disabled>
        </mat-form-field>
      </div>
    </div>
    <div class="row" *ngIf="this.retRetJud.afectaDemandado == 'B'">
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
        <label class="ordenar-pegado-derecha"> Tipo de Beneficiario: </label>
      </div>
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Tipo" [ngModel]="numBeneficiario" disabled>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Sec. Beneficiario" [ngModel]="secBeneficiario" disabled>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
<div class="enProceso" *ngIf="imagenCargando">
</div>
