<!-- Modal General de Error-->
<div class="modal fade" id="mensajeInformativoErrorModal" tabindex="-1" role="dialog"
  aria-labelledby="mensajeInformativoErrorModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mensajeInformativoErrorModalLabel">Mensaje de Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{mensajeError}}
      </div>
    </div>
  </div>
</div>
<!-- Modal General de Informativo-->
<div class="modal fade" id="mensajeInformativoInformativoModal" tabindex="-1" role="dialog"
  aria-labelledby="mensajeInformativoInformativoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mensajeInformativoInformativoModalLabel">Mensaje Informativo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{mensajeInformativo}}
      </div>
    </div>
  </div>
</div>
<!-- Modal General de Informativo 2 -->
<div class="modal fade" id="validacionDatosNuevaRetencionModal" tabindex="-1" role="dialog"
  aria-labelledby="validacionDatosNuevaRetencionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="validacionDatosNuevaRetencionModalLabel">Mensaje Informativo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{mensajeError}}
      </div>
    </div>
  </div>
</div>
