.h5, h5 {
    color: #0033A0 !important;
}

.modal-full {
    min-width: 70%;
    /*margin: 0;*/
}

.modal-full .modal-content {
    min-height: 70vh;
}

.modal-full .modal-body {
    position: relative !important;
}
.btn-warning{
  color: #0033A0;
  background-color: #E3E829!important;
  border-color: #E3E829!important;
  float: right;
}

.btn-warning:active {
    box-shadow: 0 0 0 0.2rem hsl(62, 81%, 54%) !important;
}

.btn-warning:focus {
    box-shadow: 0 0 0 0.2rem hsl(62, 81%, 54%) !important;
}

.btn-primary{
  color: #0033A0;
  background-color: #E3E829!important;
  border-color: #e3e829!important;
}

.btn-primary:focus{
  box-shadow: 0 0 0 0.2rem rgba(227, 232, 41) !important;
}
/* Inicio Bordes redondeados */
.border-redondo-izquierda{
  border-radius: 4px 0px 0px 4px !important;
  -moz-border-radius: 4px 0px 0px 4px !important;
  -webkit-border-radius: 4px 0px 0px 4px !important;
}

.borderes-redondos{
  width: 10%;
  border-radius: 10px 10px 10px 10px !important;
  -moz-border-radius: 10px 10px 10px 10px !important;
  -webkit-border-radius: 10px 10px 10px 10px !important;
}


select{
    color: hsl(210, 10%, 23%) !important;
    font-size: 0.8em;
    /*background-color: hsl(210, 10%, 23%) !important;
    border: #343a40 !important;*/
}

/* Fin Bordes redondeados */
/*-----------------------*/

/*------------------------*/
