<div class="modal fade" id="inicioBuscarPersonaModal" tabindex="-1" role="dialog"
  aria-labelledby="inicioBuscarPersonaModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-full" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Buscar Persona
        </h5>
      </div>
      <div class="modal-body">
        <div class="container">
          <!--div class="row">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <select class="border-redondo-izquierda" [(ngModel)]="selectTipBus" style="background-color: brown">
                  <option *ngFor="let t of tipoBusqueda" [ngValue]="t">{{t.name}}</option>
                </select>
              </div>
              <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" [(ngModel)]="persona">
              <div class="input-group-append">
                <button class="btn btn-primary" (click)="buscar()">Buscar</button>
              </div>
            </div>
          </div-->

          <div class="row">
            <div class="col-12 col-sm-12 col-lg-3 col-xl-3">
              <label>Seleccione tipo de busqueda:</label>
            </div>
            <div class="col-12 col-sm-12 col-lg-6 col-xl-6">
              <select class="custom-select" [(ngModel)]="selectTipBus" (click)="limpiar()">
                <option *ngFor="let t of tipoBusqueda" [ngValue]="t">{{t.name}}</option>
              </select>
            </div>
          </div>
          <div class="row py-2" *ngIf="selectTipBus.id == 1">
            <div class="col-12 col-sm-12 col-lg-6 col-xl-3">
              <label>Apellido Paterno:</label>
            </div>
            <div class="col-12 col-sm-12 col-lg-6 col-xl-3">
              <input type="text" maxlength="20" [(ngModel)]="apePaterno" (keyup.enter)="buscar()">
            </div>
            <div class="col-12 col-sm-12 col-lg-6 col-xl-3">
              <label>Apellido Materno:</label>
            </div>
            <div class="col-12 col-sm-12 col-lg-6 col-xl-3">
              <input type="text" maxlength="20" [(ngModel)]="apeMaterno" (keyup.enter)="buscar()">
            </div>
          </div>
          <div class="row py-1" *ngIf="selectTipBus.id == 1">
            <div class="col-12 col-sm-12 col-lg-6 col-xl-3">
              <label>Primer Nombre:</label>
            </div>
            <div class="col-12 col-sm-12 col-lg-6 col-xl-3">
              <input type="text" maxlength="20" [(ngModel)]="priNombre" (keyup.enter)="buscar()">
            </div>
            <div class="col-12 col-sm-12 col-lg-6 col-xl-3">
              <label>Segundo Nombre:</label>
            </div>
            <div class="col-12 col-sm-12 col-lg-6 col-xl-3">
              <input type="text" maxlength="20" [(ngModel)]="segNombre" (keyup.enter)="buscar()">
            </div>
          </div>
          <div class="row py-2" *ngIf="selectTipBus.id == 2">
            <div class="col-12 col-sm-12 col-lg-6 col-xl-3">
              <label>Numero de Documento:</label>
            </div>
            <div class="col-12 col-sm-12 col-lg-6 col-xl-3">
              <input type="text" maxlength="8" [(ngModel)]="numDoc" (keyup.enter)="buscar()">
            </div>
          </div>
          <div class="row py-2">
            <div class="col-12 col-sm-12 col-lg-12 col-xl-12">
              <button class="btn btn-primary fa-pull-right" (click)="buscar()">Buscar</button>
            </div>
          </div>
          <div class="row py-1">
            <div class="col-12 col-sm-12 col-lg-12 col-xl-12">
              <table class="table table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" *ngFor="let item of cabeceraTabla">{{item}}</th>
                  </tr>
                </thead>
                <tbody *ngIf="benefi == 1">
                  <tr *ngFor="let bene of arryBeneficiario">
                    <td>
                      <p-radioButton name="groupname" [value]="bene.cuspp + bene.numDocumento + bene.numBeneficiario"
                        (click)="paginacion(bene)">
                      </p-radioButton>
                    </td>
                    <td>{{bene.cuspp}}</td>
                    <td>{{bene.numDocumento}}</td>
                    <td>{{bene.numBeneficiario}}</td>
                    <td>{{bene.descTipo}}</td>
                    <td>{{bene.primerApe}} {{bene.segundoApe}} {{bene.primerNom}} {{bene.segundoApe}}</td>
                  </tr>
                </tbody>
                <tbody *ngIf="afili == 1">
                  <tr *ngFor="let afi of arryAfiliado">
                    <td>
                      <p-radioButton name="groupname" [value]="afi.cuspp + afi.numDocumento + afi.estadoAfiliado"
                        (click)="paginacion(afi)">
                      </p-radioButton>
                    </td>
                    <td>{{afi.cuspp}}</td>
                    <td>{{afi.numDocumento}}</td>
                    <td>{{afi.primerApe}} {{afi.segundoApe}} {{afi.primerNom}} {{afi.segundoNom}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 col-sm-12 col-lg-12 col-xl-12 text-center">
              <p-paginator [rows]="10" [totalRecords]="total" (onPageChange)="paginate($event)"></p-paginator>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary borderes-redondos" (click)="enviarPersona()">Elegir</button>
        <button type="button" class="btn btn-secondary borderes-redondos" (click)="cancelar()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
<div class="enProceso" *ngIf="imagenCargando">
</div>
