<!--div class="container">
  <div class="row">
    <div class="col-md-3">Fecha Inicial:</div>
    <div class="col-md-3"><p-calendar [(ngModel)]="value"></p-calendar></div>
    <div class="col-md-3">Fecha Inicial:</div>
    <div class="col-md-3"><p-calendar [(ngModel)]="valu2"></p-calendar></div>
  </div>
</div-->


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">  
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Descarga Retenciones Judiciales</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row form-inline">
            <div class="col-sm-12 col-lg-3 col-xl-3">Fecha Inicial:</div>
            <div class="col-sm-12 col-lg-3 col-xl-3">
              <p-calendar [(ngModel)]="ngFechaInicial" [monthNavigator]="true" [yearNavigator]="true"
              [maxDate]="maxDate" [readonlyInput]="false"
              dateFormat="dd/mm/yy" [yearRange]="yearRange" [locale]="es" (onClose)="validarDatosFechaFinal()"></p-calendar>              
            </div>
            <div class="col-sm-12 col-lg-3 col-xl-3">Fecha Final:</div>
            <div class="col-sm-12 col-lg-3 col-xl-3">
              <p-calendar [(ngModel)]="ngFechaFinal" [monthNavigator]="true" [yearNavigator]="true"
              [minDate]="minDate" [maxDate]="maxDate" [readonlyInput]="false"
              dateFormat="dd/mm/yy" [yearRange]="yearRange" [locale]="es"></p-calendar>
            </div>
          </div>
          <div class="row form-inline py-3">
            <div class="col">
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal" 
              aria-label="Close" style="float: right;" (click)="devolverCampos()">
                Descargar
              </button>
            </div>              
          </div>
        </div>
      </div>
    </div>
  </div>
</div>