<div class="modal fade" id="editorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-xl-12 col-sm-12">
              <h5 class="modal-title" style="text-align: center">
                ¿Qué actividad deseas realizar?
              </h5>
            </div>
          </div>
          <div class="row py-3">
            <div class="col-sm-12 col-md-6 col-xl-6 ">
              <button class="btn btn-primary btn-lg btn-block" data-dismiss="modal" aria-label="Close"
                data-backdrop="static" data-toggle="modal" data-target="#modificarRJModal"
                (click)="modalEditar = 'M';modalModificar();">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modificar
              </button>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 ">
              <button class="btn btn-primary btn-lg btn-block" data-dismiss="modal" aria-label="Close"
                data-backdrop="static" data-toggle="modal" data-target="#dejarSinEfectoModal"
                (click)="modalEditar = 'D';modalDejarSinEfecto()">
                <i class="fa fa-ban" aria-hidden="true"></i> Dejar sin efecto
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal dejar sin efecto-->
<app-deja-sin-efecto *ngIf="modalEditar == 'D'" [retencionjudicial]="retencionJudicialSinEf"
  (salidaDejarSinEfecto)="recuperar($event)"></app-deja-sin-efecto>

<!--Modal de Editar-->
<app-modificar *ngIf="modalEditar == 'M'" [retencionjudicial]="retencionJudicialModif"
  (salidaModificacion)="recuperar($event)"></app-modificar>
