.btn-primary{
    color: #0033A0;
    background-color: #E3E829!important;
    border-color: #e3e829!important;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(227, 232, 41) !important;
}